<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>ionboard: Premium electric skateboard for all</title>
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="ionboard"/>
  <meta property="og:description" content="Premium electric skateboard for all."/>
  <meta property="og:image" content="<%= asset_path("refer/ionboard-single.png") %>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  

  
  <%= stylesheet_link_tag "customise", :media => "all" %>
<script
  src="http://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  <%= javascript_include_tag "customise.js" %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">
    jQuery(document).ready(function(){

    	var $yourDesigner = $('#clothing-designer'),
    		pluginOpts = {
	    		stageWidth: 1200,
	    		editorMode: false,
	    		fonts: [
			    	{name: 'Helvetica'},
			    	{name: 'Times New Roman'},
			    	{name: 'Pacifico', url: 'Enter_URL_To_Pacifico'},
			    	{name: 'Arial'},
		    		{name: 'Lobster', url: 'google'}
		    	],
	    		customTextParameters: {
		    		colors: false,
		    		removable: true,
		    		resizable: true,
		    		draggable: true,
		    		rotatable: true,
		    		autoCenter: true,
		    		boundingBox: "Base"
		    	},
	    		customImageParameters: {
		    		draggable: true,
		    		removable: true,
		    		resizable: true,
		    		rotatable: true,
		    		colors: '#000',
		    		autoCenter: true,
		    		boundingBox: "Base"
		    	},
		    	actions:  {
					'top': ['download','print', 'snap', 'preview-lightbox'],
					'right': ['magnify-glass', 'zoom', 'reset-product', 'qr-code', 'ruler'],
					'bottom': ['undo','redo'],
					'left': ['manage-layers','info','save','load']
				}
    		},

    	yourDesigner = new FancyProductDesigner($yourDesigner, pluginOpts);
      console.log(yourDesigner)
      $("#checkout-button").click(function() {
        console.log(yourDesigner)
        yourDesigner.getProductDataURL(function(dataURL) {
          $.ajax({
              type: "POST",
              url: "/orders",
              data: {order: { base64_image: dataURL, name: "abc"}},
              success: function(data) {
                alert("Success");
                console.log(dataURL);
                return false;
              },
              error: function(data) {
                return false;
              }
            });
            console.log(dataURL);
		
        	});
        
      
      
        });

    	//print button
		$('#print-button').click(function(){
			yourDesigner.print();
			return false;
		});

		//create an image
		$('#image-button').click(function(){
			var image = yourDesigner.createImage();
			return false;
		});

		//checkout button with getProduct()

		//event handler when the price is changing
		$yourDesigner.on('priceChange', function(evt, price, currentPrice) {
			$('#thsirt-price').text(currentPrice);
		});

		//save image on webserver
		$('#save-image-php').click(function() {

			yourDesigner.getProductDataURL(function(dataURL) {
				$.post( "php/save_image.php", { base64_image: dataURL} );
			});

		});

		//send image via mail
		$('#send-image-mail-php').click(function() {

			yourDesigner.getProductDataURL(function(dataURL) {
				$.post( "php/send_image_via_mail.php", { base64_image: dataURL} );
			});

		});

    });
  </script>
</head>
<body>
    	<div id="main-container" style: "width: 100vw;">
          	<div id="clothing-designer" class="fpd-container fpd-shadow-2 fpd-topbar fpd-tabs fpd-tabs-side fpd-top-actions-centered fpd-bottom-actions-centered fpd-views-inside-left">
          		
          		<div class="fpd-product" title="Ionboard" data-thumbnail="images/skateboard/preview.png">
	    			<img src="images/skateboard/basic.png" title="Base" data-parameters='{"left": 332, "top": 311, "colors": "#D5D5D5,#990000,#cccccc", "price": 20}' />
			  		<img src="images/skateboard/shadow.png" title="Hightlights" data-parameters='{"left": 332, "top": 311}' />
			  		<img src="images/skateboard/shadow.png" title="Shadow" data-parameters='{"left": 332, "top": 311}' />
				</div>
				
		  		<div class="fpd-design">
		  			<div class="fpd-category" title="Swirls">
			  			<img src="images/designs/swirl.png" title="Swirl" data-parameters='{"zChangeable": true, "left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/swirl2.png" title="Swirl 2" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/swirl3.png" title="Swirl 3" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
				  		<img src="images/designs/heart_blur.png" title="Heart Blur" data-parameters='{"left": 215, "top": 200, "colors": "#bf0200", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/converse.png" title="Converse" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
				  		<img src="images/designs/crown.png" title="Crown" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
				  		<img src="images/designs/men_women.png" title="Men hits Women" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
		  			</div>
		  			<div class="fpd-category" title="Retro">
			  			<img src="images/designs/retro_1.png" title="Retro One" data-parameters='{"left": 210, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.25, "price": 7, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/retro_2.png" title="Retro Two" data-parameters='{"left": 193, "top": 180, "colors": "#ffffff", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.46, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/retro_3.png" title="Retro Three" data-parameters='{"left": 240, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.25, "price": 8, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/heart_circle.png" title="Heart Circle" data-parameters='{"left": 240, "top": 200, "colors": "#007D41", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.4, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/swirl.png" title="Swirl" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/swirl2.png" title="Swirl 2" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/swirl3.png" title="Swirl 3" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true}' />
				  	</div>
		  		</div>
		  	</div>
		  	<br />

		  	<div class="fpd-clearfix" style="margin-top: 30px;">
			  	<div class="api-buttons fpd-container fpd-left">
				  	<a href="#" id="print-button" class="fpd-btn">Print</a>
				  	<a href="#" id="image-button" class="fpd-btn">Create Image</a>
				  	<a href="#" id="checkout-button" class="fpd-btn">Order</a>
			  	</div>
		  	</div>

    	</div>

<script>
  $(document).ready(function(){

var $fpd = $('#fpd'),
      pluginOpts = {stageWidth: 1200, stageHeight: 800};

var yourDesigner = new FancyProductDesigner($fpd, pluginOpts);


    


    //you can listen to events
    $fpd.on('productCreate', function() {
  	//do something
    });
    $('#checkout-button1').click(function(){
    	//store the views of a product with all elements of a single view
    	var productViews = yourDesigner.getProduct();
    	//loop through all views
    	for(var i=0; i < productViews.length; ++i) {
    		//output all single view objects
    		console.log(productViews[i]);
    	}
    });
  });
  </script>
</body>
</html>