<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>ionboard: Premium electric skateboard for all</title>
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="ionboard"/>
  <meta property="og:description" content="Premium electric skateboard for all."/>
  <meta property="og:image" content="<%= asset_path("refer/ionboard-single.png") %>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  


  <%= stylesheet_link_tag "customise", :media => "all" %>
  <%= javascript_include_tag "customise.js" %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    jQuery(document).ready(function(){
    	var $yourDesigner = $('#clothing-designer'),
    		pluginOpts = {
	    		stageWidth: 1200,
	    		editorMode: false,
	    		fonts: [
			    	{name: 'Helvetica'},
			    	{name: 'Times New Roman'},
			    	{name: 'Pacifico', url: 'Enter_URL_To_Pacifico'},
			    	{name: 'Arial'},
		    		{name: 'Lobster', url: 'google'}
		    	],
	    		customTextParameters: {
		    		colors: false,
		    		removable: true,
		    		resizable: true,
		    		draggable: true,
		    		rotatable: true,
		    		autoCenter: true,
		    		boundingBox: "Base"
		    	},
	    		customImageParameters: {
		    		draggable: true,
		    		removable: true,
		    		resizable: true,
		    		rotatable: true,
            minH: 1000,
            minW: 1000,
            maxH: 3000,
            maxW: 3000,
		    		colors: '#000',
		    		autoCenter: true,
		    		boundingBox: "Base"
		    	},
		    	actions:  {
					'top': [],
					'right': ['magnify-glass', 'zoom', 'reset-product', 'qr-code', 'ruler', 'undo','redo'],
					'bottom': [],
					'left': ['manage-layers','info','save','load', 'download','print', 'snap', 'preview-lightbox']
				}
    		},

    	yourDesigner = new FancyProductDesigner($yourDesigner, pluginOpts);
      console.log(yourDesigner)
      $("#checkout-button").click(function(event) {
        event.preventDefault();
        var email = $("#userInputEmail").val();
        var order = $("#orderNumber").val();
        var amount = yourDesigner.currentPrice
        yourDesigner.getProductDataURL(function(dataURL) {
          $.ajax({
              type: "POST",
              url: "/orders",
              data: {order: { image_json: dataURL, email: email, order_number: order, amount: amount }},
              success: function(data) {
                jQuery("#order_form").html(data);
              },
              error: function(data) {
                data = data.responseJSON.error
                alert(data);
                console.log("Failed");
                return false;
              }
            });
            console.log(dataURL);
		
        	});
        
      
      
        });

    	//print button
		$('#print-button').click(function(){
			yourDesigner.print();
			return false;
		});

		//create an image
		$('#image-button').click(function(){
			var image = yourDesigner.createImage();
			return false;
		});

		//checkout button with getProduct()

		//event handler when the price is changing
		$yourDesigner.on('priceChange', function(evt, price, currentPrice) {
			$('#thsirt-price').text(currentPrice);
		});

		//save image on webserver
		$('#save-image-php').click(function() {

			yourDesigner.getProductDataURL(function(dataURL) {
				$.post( "php/save_image.php", { base64_image: dataURL} );
			});

		});

		//send image via mail
		$('#send-image-mail-php').click(function() {

			yourDesigner.getProductDataURL(function(dataURL) {
				$.post( "php/send_image_via_mail.php", { base64_image: dataURL} );
			});

		});

    });
  </script>
</head>
<body style="margin: 0px;">
  <div class="header" style="background-color: black;">
    <img src="images/skateboard/logo-ionboard.png" style="width:180px; padding: 30px;"></img>
  </div>
    	<div id="main-container" style: "width: 100vw; margin: 0px auto; padding 0px;">
          	<div id="clothing-designer" class="fpd-container fpd-shadow-2 fpd-topbar fpd-tabs fpd-tabs-side fpd-top-actions-centered fpd-bottom-actions-centered fpd-views-inside-centered" style="margin: auto; margin-top: 20px;">
          		
          		<div class="fpd-product" title="Ionboard" data-thumbnail="images/skateboard/preview.png">

			  		<img src="images/skateboard/ionboard-test.png" title="Shadow" data-parameters='{"left": 600, "top": 311, "scale": 0.18, "topped": true, "price": 399}' />
            <img src="images/skateboard/ionboard-handler.png" title="Shadow" data-parameters='{"left": 650, "top": 400, "scale": 0.18, "topped": true}' />
            <img src="images/skateboard/logo-ionboard.png" title="Shadow" data-parameters='{"left": 651, "top": 209, "scale": 0.147, "topped": true}' />
            <img src="images/skateboard/ionboard-board.png" title="Shadow" data-parameters='{"left": 600, "top": 311, "scale": 0.18,"colors": "#000000", "removable": true, "boundingBox": "Base", "autoSelect": true}' />
				</div>
          		<div class="fpd-product" title="Sweater" data-thumbnail="images/skateboard/ionboardx-temp.png">
	    			<img src="images/ionboardX/ionboardx-preview.png" title="Base" data-parameters='{"left": 600, "top": 311, "scale": 0.20, "topped": true, "price": 499}' />
            <img src="images/skateboard/ionboardx-temp.png" title="Base" data-parameters='{"left": 600, "top": 311, "scale": 1.05, "removable": true, "colors": "#000000"}' />
            <img src="images/skateboard/logo-ionboard.png" title="Shadow" data-parameters='{"left": 640, "top": 250, "scale": 0.127, "topped": true}' />
			  		
				</div>
				
		  		<div class="fpd-design">
		  			<div class="fpd-category" title="Chinese">
			  			<img src="images/designs/chinese1.jpg" title="Swirl" data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true, "lockUniScaling": true}' />
              <img src="images/designs/chinese2.jpg" title="Swirl" data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true, "lockUniScaling": true}' />
		  			</div>
		  			<div class="fpd-category" title="Stripe">
			  			<img src="images/designs/stripe1.jpg" title="Swirl" data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true, "lockUniScaling": true}' />
              <img src="images/designs/stripe2.jpg" title="Swirl" data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true, "lockUniScaling": true}' />
		  			</div>
		  			<div class="fpd-category" title="Mountain">
			  			<img src="images/designs/mountain1.jpg" title="Swirl" data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true, "lockUniScaling": true}' />
		  			</div>
		  			<div class="fpd-category" title="BlackandWhite">
			  			<img src="images/designs/black_and_white1.jpg" title="Swirl" data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true, "lockUniScaling": true}' />
              <img src="images/designs/black_and_white2.jpg" title="Swirl" data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true, "lockUniScaling": true}' />
		  			</div>
		  			<div class="fpd-category" title="Swirls">
			  			<img src="images/designs/swirl.png" title="Swirl" data-parameters='{"zChangeable": true, "left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true, "lockUniScaling": true}' />
				  		<img src="images/designs/swirl2.png" title="Swirl 2" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/swirl3.png" title="Swirl 3" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
				  		<img src="images/designs/heart_blur.png" title="Heart Blur" data-parameters='{"left": 215, "top": 200, "colors": "#bf0200", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/converse.png" title="Converse" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
				  		<img src="images/designs/crown.png" title="Crown" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
				  		<img src="images/designs/men_women.png" title="Men hits Women" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
		  			</div>
		  			<div class="fpd-category" title="Retro">
			  			<img src="images/designs/retro_1.png" title="Retro One" data-parameters='{"left": 210, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.25, "price": 7, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/retro_2.png" title="Retro Two" data-parameters='{"left": 193, "top": 180, "colors": "#ffffff", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.46, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/retro_3.png" title="Retro Three" data-parameters='{"left": 240, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.25, "price": 8, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/heart_circle.png" title="Heart Circle" data-parameters='{"left": 240, "top": 200, "colors": "#007D41", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.4, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/swirl.png" title="Swirl" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/swirl2.png" title="Swirl 2" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
				  		<img src="images/designs/swirl3.png" title="Swirl 3" data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true}' />
				  	</div>
		  		</div>
		  	</div>
		  	<br />
       
        <div class="row" style="width:50%; margin: auto;">
           <h3 style="text-align: center">Please fill in your information to place order</h3>
        <form id="order_form">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="userInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Order Number</label>
            <input type="text" class="form-control" id="orderNumber" placeholder="Your Kickstarter Order No.">
          </div>
  		  	<div class="fpd-clearfix" style="margin-top: 30px;">
  			  	<div class="api-buttons fpd-container" style="text-align: center;">
  				  	<a href="#" id="print-button" class="fpd-btn" style="text-decoration: none;">Print</a>
  				  	<a href="#" id="image-button" class="fpd-btn" style="text-decoration: none;">Create Image</a>
  				  	<a href="#" id="checkout-button" class="fpd-btn" style="text-decoration: none;">Order</a>
  			  	</div>
  		  	</div>
          
        </form>
      </div>
		  	
    	</div>

<script>
  $(document).ready(function(){

var $fpd = $('#fpd'),
      pluginOpts = {stageWidth: 1200, stageHeight: 800};

var yourDesigner = new FancyProductDesigner($fpd, pluginOpts);


    


    //you can listen to events
    $fpd.on('productCreate', function() {
  	//do something
    });
    $('#checkout-button1').click(function(){
    	//store the views of a product with all elements of a single view
    	var productViews = yourDesigner.getProduct();
    	//loop through all views
    	for(var i=0; i < productViews.length; ++i) {
    		//output all single view objects
    		console.log(productViews[i]);
    	}
    });
  });
  </script>
</body>
</html>