<!DOCTYPE html>
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>ionboard: Premium electric skateboard for all</title>
        <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <%= stylesheet_link_tag "main", :media => "all" %>
        <%= javascript_include_tag "main" %>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '1953354244906150');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=1953354244906150&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

    </head>
                    		
    <body class="c-layout-header-fixed c-layout-header-fullscreen">
  		
        <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
        <!-- BEGIN: HEADER -->
        <header class="c-layout-header c-layout-header-static c-header-transparent-dark" data-minimize-offset="80">
      		<div class="overlay overlay-hugeinc">
      			<button type="button" class="overlay-close">Close</button>
      			<nav>
      				<ul>
      					<li><a href="https://www.ionboardtech.com">Home</a></li>
      					<li><a href="https://products.ionboardtech.com/ionboard">IONBOARD</a></li>
      					<li><a href="https://products.ionboardtech.com/ionboardx">IONBOARD X</a></li>
      					
      				</ul>
      			</nav>
            
      		</div>
          <a href='#' id='trigger-overlay' class='twentywenty-menu'><div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div></a>
            <div class="c-navbar">
                <div class="container" style="margin-right: 0px !important; width: 100%; padding: 0px;">
                    <!-- BEGIN: BRAND -->
                    <div class="c-navbar-wrapper clearfix" style="width: 100%;">
                      <%= image_tag("logo1.png", style: "width: 100px;") %>
                      
                        <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-bold">
                            <ul class="nav navbar-nav c-theme-nav" style="padding-right: 10px; padding-top: 5px;">
                                <li>
                                    <a href="https://products.ionboardtech.com/ionboard" class="c-link" style="color: #ccc; font-size: 22px;">ionboard
                                        <span class="c-arrow c-toggler"></span>
                                    </a>
                                  </li>
                                <li>
                                    <a href="https://products.ionboardtech.com/ionboardx" class="c-link" style="color: #ccc; font-size: 22px;">ionboard X
                                        <span class="c-arrow c-toggler"></span>
                                    </a>
                                  </li>
                            </ul>
                            
                        </nav>
                    		
                        <!-- END: MEGA MENU -->
                    		
                        
                        <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                        <!-- END: HOR NAV -->
                    </div>
                </div>
            </div>
            
        </header>
        <!-- END: HEADER -->
        <!-- END: LAYOUT/HEADERS/HEADER-1 -->
    		

        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
          
      		
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-8 -->
            <div id="container1">
              <h1 style="position: absolute; top: 10px;" >Ionboard</h1>
            </div>
            
            <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-8 -->
            <!-- BEGIN: CONTENT/ISOTOPE/GRID-2 -->
            <div class="c-content-box c-size-md c-bg-img-center" style="background-color: black;">
                <div class="container">
                    <div class="c-content-title-1">
                      <h3 class="c-center c-font-uppercase" style="color: white;">Premium electric longboard for all</h3>
                        <h3 class="c-center c-font-uppercase" style="color: white;">Join Our Referral Program</h3>
                        <div class="c-line-center" style="color: white; background-color: white;"></div>
                        <p class="c-font-center" style="color: white">$50 OFF, First 10 Friends Joined</p>
                    </div>
                    <div class="col-md-12">
                      
                      <%= form_for @user, :url => { :action => "create" } do |f| %>
                      <div class="input-group input-group-lg c-square">
                        <%= f.text_field :email, :placeholder => "Your Email Here", :class => "form-control c-square c-font-grey-3 c-border-grey c-theme" %>
                        <span class="input-group-btn">
                            <input class="btn c-btn-square c-btn-white c-btn-uppercase c-font-16" type="submit" value="LOGIN" style="background-color: grey; color: black;">ENTER</input>
                        </span>
                      </div>
                      <% end %>
                      <p></p>
                   
                  </div>
                   
                </div>
            </div>
            <!-- END: CONTENT/ISOTOPE/GRID-2 -->
            
           
        </div>
        <!-- END: PAGE CONTAINER -->
        <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
        <a name="footer"></a>
        <footer class="c-layout-footer c-layout-footer-6" style="background-color: black;">

            <div class="c-postfooter" style="background-color: black;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="c-copyright c-font-grey" style="text-align: center;">&copy; 2017 by Atlas Cloud, Inc 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END: LAYOUT/FOOTERS/FOOTER-6 -->
        <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
        <div class="c-layout-go2top">
            <i class="icon-arrow-up"></i>
        </div>
        <!-- END: LAYOUT/FOOTERS/GO2TOP -->
        <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
        <!-- BEGIN: CORE PLUGINS -->
        <!--[if lt IE 9]>
	<script src="../assets/global/plugins/excanvas.min.js"></script> 
	<![endif]-->
      
        <script>
          
          $( document ).ready(function() {
            
            $('#trigger-overlay').click(function() {
              $(this).toggleClass('pushed-btn');
            });
            
            if ($(window).width() < 640) {
              
              
              $("#container1").append("<a href='https://products.ionboardtech.com/ionboardx'><img src='<%= asset_path('light.jpg') %>'></a><a href='https://products.ionboardtech.com/ionboard'><img src='<%= asset_path('light-2.jpg') %>'>");
              
              
              var beforeImg = $("#container1").find("img:first");
              var afterImg = $("#container1").find("img:last");
              
              afterImg.on ('load', function() { $("#container1").twentytwenty({default_offset_pct: 0.5,
                  orientation: 'vertical', // Orientation of the before and after images ('horizontal' or 'vertical')
                 before_label: 'ionboard X', 
                 after_label: 'ionboard',
                 no_overlay: true,
                 move_slider_on_hover: false,
                 move_with_handle_only: false,
                 click_to_move: false // Allow a user to click (or tap) anywhere on the image to move the slider to that location.);
            });});
             
              
               
          }
            else {
              
              $("#container1").append("<img src='<%= asset_path('ionboardXX.png') %>'><img src='<%= asset_path('ionboard-2.jpg') %>'>");
              
              var beforeImg = $("#container1").find("img:first");
              var afterImg = $("#container1").find("img:last");
              
              afterImg.on ('load', function() { $("#container1").twentytwenty({default_offset_pct: 0.5,
                  orientation: 'horizontal', // Orientation of the before and after images ('horizontal' or 'vertical')
                 before_label: 'ionboard X', 
                 after_label: 'ionboard',
                 no_overlay: true,
                 move_slider_on_hover: false,
                 move_with_handle_only: false,
                 click_to_move: false // Allow a user to click (or tap) anywhere on the image to move the slider to that location.);
            });});
            }
          });
          
          var open = 0;
          function toggleMenu() {
            if (open == 0) {
              document.getElementById("mainNav").className = "open";
              document.getElementById("mainNav").style.zIndex = "10";

              open = 1;
            }
            else if (open == 1) {
              document.getElementById("mainNav").className = "closed";
              open = 0;
            }
          }
          
          
          </script>
          
          <script>
            (function() {
            	var triggerBtn = document.getElementById("trigger-overlay");
              var overlay = document.querySelector("div.overlay");
            	var closeBttn = overlay.querySelector( 'button.overlay-close' );
            		transEndEventNames = {
            			'WebkitTransition': 'webkitTransitionEnd',
            			'MozTransition': 'transitionend',
            			'OTransition': 'oTransitionEnd',
            			'msTransition': 'MSTransitionEnd',
            			'transition': 'transitionend'
            		},
            		transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
            		support = { transitions : Modernizr.csstransitions };

            	function toggleOverlay() {
            		if( classie.has( overlay, 'open' ) ) {
            			classie.remove( overlay, 'open' );
            			classie.add( overlay, 'close' );
            			var onEndTransitionFn = function( ev ) {
            				if( support.transitions ) {
            					if( ev.propertyName !== 'visibility' ) return;
            					this.removeEventListener( transEndEventName, onEndTransitionFn );
            				}
            				classie.remove( overlay, 'close' );
            			};
            			if( support.transitions ) {
            				overlay.addEventListener( transEndEventName, onEndTransitionFn );
            			}
            			else {
            				onEndTransitionFn();
            			}
            		}
            		else if( !classie.has( overlay, 'close' ) ) {
            			classie.add( overlay, 'open' );
            		}
            	}

            	document.getElementById("trigger-overlay").addEventListener( 'click', toggleOverlay );
            	closeBttn.addEventListener( 'click', toggleOverlay );
            })();
            </script>
        
        <script>
            $(document).ready(function()
            {
                App.init(); // init core    
            });
        </script>

    </body>

</html>

