          <%= form_for @confirm do |f| %>
          <%= f.hidden_field :order_id, value: @order.id %>
          <%= f.hidden_field :amount, value: 39 %>
          <div class="form-group">
            <label for="exampleFormControlInput1">Full Name</label>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= ENV["STRIPE_PUB_KEY"] %>"
            data-amount="3900"
            data-name="ionboard"
            data-description="The best electric skateboard"
            data-image="https://www.ionboardtech.com/images/skateboard/logo-ionboard.png"
            data-locale="auto">
          </script>
            
          <% end %>
            